<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="logPath" source="logging.file.path" defaultValue="/logs"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [TID=%X{traceId:-}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_DEFAULT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${SERVICE_NAME:-users}/${HOSTNAME:-local}/current/${SERVICE_NAME:-users}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${SERVICE_NAME:-users}/${HOSTNAME:-local}/%d{yyyy-MM-dd}/${SERVICE_NAME:-users}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [TID=%X{traceId:-}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="xyz.fakestore" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE_DEFAULT" />
    </root>

</configuration>
